@model MatrioshkaBookingSystem.Models.Extraasset

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Extraasset</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExtraAssetName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExtraAssetName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AssetPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AssetPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExtraAssetStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExtraAssetStatus)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ExtraAssetId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
