@model IEnumerable<MatrioshkaBookingSystem.Models.Extraasset>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ExtraAssetName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AssetPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExtraAssetStatus)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ExtraAssetName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AssetPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExtraAssetStatus)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ExtraAssetId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ExtraAssetId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ExtraAssetId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
